$bgcolor: #42B7B9;
$faded: #de8a5a;
$fadedTextColor: #2887a1;
$darkGray: #333333;
$gold: #FFB700;
$moonGray: #CCCCCC;
$gray: #777777;
$lightGreen: #9EEBCF;
$danger: rgb(220, 53, 69);
$success: rgb(25, 135, 84);
$primary: rgb(13, 110, 253);
$warning: rgb(255, 193, 7);
